Source: golang-neofs-crypto
Section: contrib/net
Priority: optional
Maintainer: Erik Ziegenbalg <erikziege@gmail.com>
Build-Depends: debhelper,
 dh-golang,
 golang,
 golang-rfc6979,
 golang-base58,
 golang-github-pkg-errors-dev,
 golang-github-stretchr-testify-dev,
 autoconf,
 automake
Standards-Version: 3.9.8

Package: golang-neofs-crypto
Architecture: all
Depends: golang
Pre-Depends: bash-completion
Description: Goldengoose dbft
